DATABASE_URL=""
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""
NEXT_PUBLIC_API_URL=""
ADMIN_EMAILS="list of admin emails"

GITHUB_ID=""
GITHUB_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

NODEMAILER_USER=""
NODEMAILER_APP_PASSWORD="google app registration code. not oauth, it's like : xxxx xxxx xxxx xxxx"